.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge :global .t-badge--circle {
  top: 5px;
  right: 6px;
}
.menuIcon {
  width: 30px !important;
  height: 30px !important;
}
.dropItem {
  display: flex;
  align-items: center;
}
.dropItem span {
  margin-left: 8px;
}
.dropdown {
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.dropdown .icon {
  font-size: 20px;
  display: inline-block;
  margin: 0 10px;
}
.dropdown :global .t-button--variant-text {
  padding-left: 9px;
  padding-right: 9px;
}
.dropdown :global .t-button__text {
  display: flex;
  align-items: center;
}
.dropdown :global .t-dropdown__item {
  max-width: none !important;
  width: 117px;
}
.dropdown :global .t-dropdown__item-text {
  display: flex;
  align-items: center;
}
.dropdown :global .t-dropdown__item .t-icon {
  margin-right: 8px;
}
